<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268700802750-pv6ueev81i5b1pgcj9i8rjhn2gsbj9e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268700802750-pv6ueev81i5b1pgcj9i8rjhn2gsbj9e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqIVk3vW6iNfbVp_yMyMpFhi3FzRJanc</string>
	<key>GCM_SENDER_ID</key>
	<string>268700802750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btkurumsal.adatip</string>
	<key>PROJECT_ID</key>
	<string>adatip-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>adatip-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268700802750:ios:92b1ff3a8919c46dc0c8ef</string>
</dict>
</plist>